<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Home</title>
	<link rel="stylesheet" href="{% static 'css/bootstap.css'%} ">
	<link rel="stylesheet" href="{% static 'css/bootstap.min.css'%} ">
	<link rel="stylesheet" href="{% static 'css/home.css'%} ">

</head>
<body>
	<h1>Welcome</h1>
	<a href="{% url 'Login'%}" title="">Login</a>
	<a href="{% url 'Register'%}" title="">Register</a>
</body>
</html>